name: Release

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: false

on:
  workflow_dispatch:
  pull_request:
    branches: [master, dev]
    types: [opened, synchronize, reopened]
  push:
    branches: [master, dev]
    paths-ignore:
      - '**.md'

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v4
        with:
          go-version: '1.21'

      - name: Build
        run: make all

      - name: Install UPX
        run: |
          sudo apt-get update
          sudo apt-get install -y upx-ucl

      - name: Compress with UPX
        run: make upx

      - name: Generate release name
        run: TZ='Asia/Shanghai' echo "RELEASE_NAME=V$(date +'%Y.%m.%d.%H.%M')" >> $GITHUB_ENV

      - name: Create Release and Upload Assets
        uses: softprops/action-gh-release@v1
        with:
          files: |
            bin/*
            bin/upx/*
          name: ${{ env.RELEASE_NAME }}
          body: "Automated release created by GitHub Actions"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
